body{
    font-family: Avenir Next,Avenir,Segoe UI,Roboto,Helvetica Neue,Helvetica,Arial,sans-serif;
    background-color: #F9F8FA;;
}

.navitemactive{
    color:#80471C!important
}

a{
    text-decoration: none;
}

.openimage{
    cursor: pointer;
}


.headerbutton{
    /* font-family: "Centra",Sans-serif; */
    font-size: 17px;
    font-weight: 400;
    line-height: 24px;
    color: #fff;
    background-color: #1683fb;
    border:1px solid #1683fb;
    border-radius: 4px;
    padding: 10px 28px;
}


table.dataTable thead th, table.dataTable tfoot th{
    font-weight: 300!important;
}

.animation{
    height:320px;
    width: 500px;
  
}

.image-upload{
    padding-top:30px
}

.dataTables_filter label{
    display:inline-flex!important
}

.dataTables_length label{
    display: flex!important
}

@media screen and (max-width: 833px) {  
.dataTables_length label{
    display: inline-flex!important
}
.animation{
    height:100%;
    width: 250px;
    padding-top:30px;
}
}